.exploreanimation {
    position: relative;
    display: inline-block; 
    border-radius: 1rem; 
    border: 1px solid white; 
    background-color: black; 
    transition: background-color 0.3s ease, border 0.3s ease; 
    
    box-sizing: border-box;
  }
  
  .exploreanimation:hover {
    font-size: larger;
    color: black;
    background: linear-gradient(
      45deg,
      #224cf0,
      #3789dd,
      #3285fb,
      #36509b,
      #2b3c70,
      #9a2da0,
      #8e49fa,
      #ef47b8,
      #ff43ff,
      #692f84,
      #602f80,
      #363265
    );
    background-size: 300% 300%;
    animation: rotateGradient 4s linear infinite;
  }
  
  @keyframes rotateGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  